PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:5173
MONGO_URI=
ADMIN_EMAIL=yakshitkoshiya18@gmail.com
ADMIN_PASSWORD=
JWT_SECRET=
JWT_EXPIRES_IN=7d
ADMIN_PATH=/yakshit-portfolio_5518
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
RESEND_API_KEY=
RESEND_FROM=onboarding@resend.dev
INQUIRY_TO_EMAIL=yakshitkoshiya18@gmail.com
